requests
chainlit
bs4
lxml
html-to-markdown
langchain
langchain_core
langchain_ollama
langchain_chroma
langchain_openai
langgraph
tqdm
langchain_text_splitters
bm25
mineru
asyncpg
SQLAlchemy
greenlet
sqlalchemy[asyncio]
